<div class="container">
    <div class="card border-secondary  mx-auto mt-4 mb-4" style="width: 22rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Registra tu pedido</h5>
            <hr>
            <form action="/pedidos/new-pedido" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" name="cliente" id="cliente" class="form-control" placeholder="Cliente"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="comidas">Seleccione comidas</label>
                        <select multiple class="form-control">
                            <option></option>
                        </select>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="comidas">Seleccione bebidas</label>
                        <select multiple class="form-control">
                            <option></option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Total comidas</label>
                        <input type="number" class="form-control" id="precioComida">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Total bebidas</label>
                        <input type="number" name="precioBebida" id="precioBebida" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Total a pagar</label>
                        <input type="number" name="total" id="total" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary btn-block" type="submit">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>