<!--
<div class="container">
    <div class="animate">
        <span class="text1">¡Bienvenido a SistVentas!</span>
        <span class="text2">Sistema de registro de ventas</span>
        <a href="/users/signup" class="btn btn-outline-light text-uppercase">Registrarse</a>
    </div>
</div>
-->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">¡Bienvenido!</h5>
                    <p class="card-text text-center">Inicia tu control con solo registrarse</p>
                    <div class="col-md-12 text-center">
                        <a href="/users/signup" class="btn btn-outline-success text-uppercase">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>