*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo{
    width: 10%;
}

.animate {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;   
}

.container span{
    text-transform: uppercase;
    display: block;
}

.text1{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-block: 20px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 30px;
    color: #4da6ff;
}

@keyframes text{
    0%{
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 20px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

#text{
    margin-top: 15px;
    color: black;
    font-size: 25px;
    font-weight: 700;
}

/*Responsive Tabla*/
@media screen and (max-width: 320px) {
    table {
      display: block;
      overflow-x: auto;
      background: white;
    }
}

.navbar-nav .dropdown-menu{
    position: absolute;
    float: none;
}






