<!--<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="/" class="text-white" style="text-decoration: none;">
            <img src="/img/logoF.png" class="logo">
            Fernando Vega
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{#if user}}
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link btn btn-outline-info dropdown-toggle text-white text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Proyectos
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/entradas">Todos los proyectos </a>
                        <a class="dropdown-item" href="/entradas/add">Publicar un proyecto</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Cerrar sesion</a>
                    </div>
                </li>
            {{else}}
                <ul class="navbar-nav ml-auto">
                <li class="nav-item col-md-12">
                    <a class="nav-link btn btn-outline-info text-white" href="/users/signin"><i class="fas fa-user"></i> LOG IN</a>
                </li>
                </ul>
            {{/if}}
        </div>
    </div>
</nav>
-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">AppVentas</a>
        <div class="navbar-nav ml-auto">
            {{#if user}}
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link btn btn-outline-info dropdown-toggle text-white text-uppercase col-sm-6 col-md-12" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/entradas">Home</a>
                    <a class="dropdown-item" href="/comidas/add">Agregar comida</a>
                    <a class="dropdown-item" href="/comidas">Consultar Comidas</a>
                    <a class="dropdown-item" href="/pedidos">Consultar ventas</a>
                    <!--<a class="dropdown-item" href="/entradas/add">Registrar pedido</a>-->
                    <a class="dropdown-item" href="/pedidos/add">Registrar pedido</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/logout">Cerrar sesion</a>
                </div>
            </li>
            {{else}}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" href="/users/signin"><i class="fas fa-user"></i>
                        Iniciar Sesion</a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</nav>